# Auto detect text files and perform LF normalization
* text=auto
.gitattributes text eol=lf

# JS and TS files must always use LF for tools to work
*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf

# CSS/SCSS must always use LF for tools to work
*.css text eol=lf
*.scss text eol=lf

# HTML must always use LF for tools to work
*.html text eol=lf

# Python
*.py text diff=python

# Database migrations and repository documentation
*.sql text eol=lf
*.md text eol=lf diff=markdown
